<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title> LOGIN PAGE </title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../image/logo.svg">
        </div>
        <div class="login-container">
            <div class="login-logup">
                <button class="log-button">Log in</button>
                <button class="log-button">Log up</button>
            </div>
            <form>
                <input name="email" type="text" placeholder="email@email.com">
                <input name="password" type="password" placeholder="password">
                <button>login</button>
            </form>
        </div>
    </div>
</body>

