<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/e812991b72.js" crossorigin="anonymous"></script>
    <title> TRIPS PAGE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <div class="small-logo">
                <img src="../image/logo.svg">
            </div>

        </nav>
        <main>
            <div class="buttons">

            </div>
            <section class="map">
                <img src="../image/map.svg">

            </section>

        </main>

    </div>
</body>
