<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/e812991b72.js" crossorigin="anonymous"></script>
    <title> REGISTRATION PAGE </title>
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="../image/logo.svg">
    </div>
    <div class="registration-container">
        <div class="login-logup">
            <i class="fas fa-circle-notch"></i>
            <button class="log-button">Log in</button>
            <i class="fas fa-circle-notch"></i>
            <button class="log-button">Log up</button>
        </div>
        <form>
            <input name="name" type="text" placeholder="name">
            <input name="email" type="password" placeholder="email@email.com">
            <input name="password" type="password" placeholder="password">
            <input name="confirm-password" type="password" placeholder="confirm password">
            <button>login</button>
        </form>
    </div>
</div>
</body>

